h1    {
    color: white;
    margin-left: 25px;
}

body    {
    background-image: url(back.png);
    margin: 0;}

header table td p {
    text-align: left;
        color: white;
        font-size: 33px;
        margin-left: 100px;
        margin-top: 0px;

    }

header h2 img   {
    text-align: left;
        width: 350px;
        margin-left: 200px;
        margin-top: 0px;
      }
